  <link rel="stylesheet" href="https://d1azc1qln24ryf.cloudfront.net/114779/Socicon/style-cf.css?rd5re8">

<nav class="navbar navbar-inverse bg-inverse" role="navigation">
        <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-brand-centered">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="navbar-brand navbar-brand-centered"><a class="headerLogo" style="color:gray;" href="/" ng-click="vm.changeLocation('#/')">Victory Lap</a></div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-brand-centered">
          <!-- <ul class="nav navbar-nav">
            <li><a ng-show="!vm.user" ui-sref=".login">Login</a></li>
            <li><a ng-show="!vm.user" ui-sref=".register">Register</a></li>
            <li><a ng-show="!!vm.user" ng-click="vm.logout()">Logout</a></li>
          </ul> -->
          <ul class="nav navbar-nav navbar-right">
         
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

  <% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
  <% end %>

  <div class="container">
    <div class="login-container">
            <div class="avatar"></div>
            <div class="form-box">

  <%= form_for :user do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>


  <div class="field">
    <%= f.label :access_level %><br>
    Candidate<%= f.radio_button :access_level, "candidate" %>
    Company Admin<%= f.radio_button :access_level, "company_admin" %>
    Super Admin<%= f.radio_button :access_level, "super_admin" %>
  </div>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name%>
  </div>

  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :company %><br>
    <%= f.text_field :company%>
  </div>

  <div class="actions">
    <button class="btn btn-block login"><%= f.submit "Sign up" %></button>
  </div>
<% end %>

</div>
</div>
</div>
